@model CartPurchaseViewModel


<table class="table table-bordeared table-striped">
    <thead>
        <tr>
            <th>Quantidade</th>
            <th>Lanche</th>
            <th class="text-right">Preço</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CartPurchase?.Items != null)
        {
            @foreach (var item in Model.CartPurchase.Items)
            {
                <tr>
                    <td class="text-center">@item.Amount</td>
                    <td class="text-left">@item.Product.Name</td>
                    <td class="text-right">@item.Product.Price.ToString("c")</td>
                    <td class="text-right">
                        @((item.Amount * item.Product.Price).ToString("c"))
                    </td>
                    <td class="text-center">
                        <a asp-controller="CartPurchase" asp-action="RemoveItemToCart"
                           asp-route-productId="@item.Product.ProductId">
                            <img src="~/images/remove.png" width="25px" height="25px" />
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">O carrinho está vazio.</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.CartPurchaseTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="container">
    <div class="row">
        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Encerrar Pedido</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Continuar Comprando</a>
            </div>
        </div>
        <br />
    </div>
</div>