@model IEnumerable<Product>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-sm-4">
                <div class="card mb-3">
                    <h3 class="card-header">@product.Name</h3>
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted">@product.Description</h6>
                    </div>
                    <img src="~/images/produtos/@product.ImageName" alt="@product.Name" class="d-block w-100" height="200" style="object-fit: cover;">
                    <div class="card-body">
                        <h4 class="card-text">R$ @product.Price</h4>
                    </div>
                    <div class="card-body">
                        <a asp-controller="CartPurchase" asp-action="AddItemToCart" asp-route-productId="@product.ProductId"
                           style="text-decoration: none; color: inherit;" class="card-link">
                            <button type="button" class="btn btn-outline-primary">Incluir no carrinho</button>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
